.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}
.login-submit {
  height: 40;
}
.login-form-divider {
  margin: 8px 0px 0px 24px;
}
